@charset "UTF-8";
/* CSS Document */
body {
    background-color: #000000;
}
body {margin:0;}

ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
    overflow: hidden;
    background-color: #FF00E6;
    position: static;
    bottom: 0;
    width: 100%;

}

li {
    float: left;
  	position: sticky;
  	top: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #292929;
}

.active {
    background-color: #0072FF;
}
